beautifulsoup4==4.8.1
certifi==2022.12.7
chardet==3.0.4
idna==2.8
Pillow==9.3.0
praw==6.4.0
prawcore==1.0.1
PySimpleGUI==4.6.0
requests==2.22.0
six==1.13.0
soupsieve==1.9.4
update-checker==0.16
urllib3==1.26.5
websocket-client==0.56.0
